/**
background: #183641 Greyish Blue;
font-color: #f25f58 Orage Red; #D43A3F #BD403E
background-yelloW: #F1EFE1;
font-color: #CB5751 Yellow; #DAD7AB
**/

body {
  background-color: #183641;
  color: #CB5751;
  width: 100%;
  font-family: "Adelle", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body.ui.grid {
  margin: 0;
}

header {
  width: 100%;
  position: relative;
  height: 648px;
  padding-top: 4.2rem;
  box-sizing: border-box;
}

.blue-content {
  background-color: #183641;
}

.yellow-content {
  background-color: #F1EFE1;
}

.blue-content p {
  color: #DAD7AB;
}

.yellow-content p {
  color: #CB5751;
}

.background-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: top center;
  background-image: url('../img/background_claim_ruler.png');
}

.logo {
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  width: 12rem;
}

.ui.grid > .concept.row {
  background-color: #F1EFE1;
  padding: 13%;
  font-size: 2rem;
  box-sizing: border-box;
}

.ui.grid > .concept.row > .column {
  text-align: center;
  font-size: 1.8rem;
}

.pathway {
  background-size: cover;
  background-position: top center;
  background-image: url('../img/pathway_bgd.png');
}

.big-text {
  font-size: 1.35rem;
}

.coming-soon {
  background: url('../img/spots.png') 0 0 no-repeat #183641;
  background-size: cover;
}