/** overwrites **/

.ui.menu {
  margin: 0 1em 1em;
}
.ui.menu .item,
.ui.menu .item.active {
  color: #BD403E;
  text-transform: uppercase;
}

.ui.text.menu {
  text-shadow: 0 1px 1px #000;
  margin: 0 1.5rem;
  padding-top: 4.5rem
}

.ui.grid > .row {
  margin-top: 0;
}
